.App{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
background-color:   #7FDEFF;
}

.App_Content{
  padding-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

h1{
  color: #2C2A4A;
}